body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
}

#site-icon {
    position: absolute;
            top: 10px;
            left: 10px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
}

nav {
    text-align: center;
    margin-top: 10px;
}

nav a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: #4CAF50;
    border-radius: 5px;
    margin: 0 10px;
}

nav a:hover {
    background-color: #45a049;
}

div {
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    overflow: hidden; 
}

div img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    float: left; 
    margin-right: 20px;
}

div a {
    text-decoration: none;
    color: #4CAF50;
}

h2 {
    color: #4CAF50;
}

p {
    line-height: 1.6;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 20px;
}

#go-to-top {
    display: block;
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    background-color: #45a049;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

#go-to-top:hover {
    background-color: #4CAF50;
}

footer a{
    text-decoration: none;
    color: white;
}