body {
  font-family: 'Poppins', sans-serif;
  margin: 20px;
  background-color: #f4f4f4;
}

header {
  text-align: center;
  background-color: #938f71;
  color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
}

#site-logo {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 700;
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 2em;
  text-decoration: none;
  color: white;
}
#site-logo:hover {
  cursor: pointer;
}

nav {
  text-align: center;
  margin-top: 10px;
}

nav a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  background-color: #938f71;
  border-radius: 5px;
  margin: 0 10px;
}

nav a:hover {
  background-color: #937460;
}

div {
  margin-top: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  overflow: hidden; 
}

div img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
  border-radius: 10px;
  float: left; 
  margin-right: 20px;
}

div a {
  text-decoration: none;
  color: #937460;
}

h2 {
  color: #937460;
}

p {
  line-height: 1.6;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #938f71;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 20px;
}

#go-to-top {
  display: block;
  text-align: center;
  margin-top: 10px;
  padding: 5px;
  background-color: #937460;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

#go-to-top:hover {
  background-color: #938f71;
}

footer a{
  text-decoration: none;
  color: white;
}
#galeria {
  display: flex;
  align-items: flex-start; 
}

#obecnyobraz {
  overflow: hidden;
  text-align: center;
  box-shadow: none;
  margin-right: 50px;
  max-width: fit-content;
  max-height: fit-content;

}

#obecnyobraz img {
  width: 450px;
  height: 450px;
  border-radius: 8px;
}

#resztaobrazow {
  overflow: hidden;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  height: 450px;
  box-shadow: none;
  max-width: fit-content;
  max-height: fit-content;
}

#resztaobrazow img {
  width: 150px;
  height: 150px;
  margin-bottom: 10px; 
  border: 2px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
}

#prev-btn, #next-btn {
  font-size: 20px;
  cursor: pointer;
  background-color: #938f71;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

#prev-btn {
  margin-right: 10px;
}

#next-btn {
  margin-left: 10px;
}
nav.white-bg {
  background-color: white;
}
nav.white-bg a {
  background-color: white;
  color: #8B4513;
}
